// Admin addresses form
table#addresses {
  tbody td {
    position: relative;

    label {
      display: block;
      position: absolute;
      z-index: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
    }

    input[type="radio"]:checked {
      position: relative;
      z-index: 1;

      & + label {
        background: desaturate(lighten(#5498da, 20), 20); // based on $color-tbl-even from Spree 2.3
      }
    }
  }
}
